@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  font-family: 'Arial', sans-serif;
}

.bg-cover {
  background-size: cover;
}

.bg-center {
  background-position: center;
}

.bg-opacity-75 {
  background-color: rgba(0, 0, 0, 0.75);
}

.shadow-lg {
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.5);
}
